<template>
<div class="participant">
    <div class="card">
        <h1>{{participant.naam}}</h1>
        <h2>{{participant.afdeling}}</h2>
        <p>{{participant.tekst}}</p>
        <img v-bind:src="participant.img"/>
    </div>
</div>
   
</template>

<script>
import ParticipantsService from '@/services/ParticipantsService.js';

export default {   
    data(){       
        return {
            participant:Object
        }
    },
    created(){
        ParticipantsService.getParticipant(this.$route.params.id).then((data=>{
            this.participant = data;
        })); 
    }
}
</script>

<style scoped>
.participant{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background:#fff;

    position: relative;
    
    margin-top:100px;
    padding: 15px;
    width: 1000px;
}

img{
    position: absolute;
    top: 15px;
    right: 15px;
    max-height: 200px;
}

p{
    width:600px;
}
</style>
