<template>
    <div class="navbar">
        <img class="logo" src="@/assets/LW-logo.svg">
        <nav>
          <router-link class="link" :to="{ name: 'participants-list' }">Deelnemers</router-link> |
          <router-link class="link" :to="{ name: 'add-photo' }">Foto toevoegen</router-link>
        </nav>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    .navbar{
        display:flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px;

        background-color: rgb(243, 168, 59);
    }

    .logo{
        width: 35px;
    }

    .link{
        text-decoration: none;
        color: black;
    }
</style>