<template>
    <div class="card">
        <router-link style="text-decoration: none; color: inherit;" :to="{ name: 'participant', params: { id: participant.id }}" >  
            <h1>{{participant.naam}}</h1>
        </router-link>
        <h2>{{participant.afdeling}}</h2>
        <button @click="deleteMe">Verwijder</button>
    </div>
</template>

<script>
export default {
    props:{
        participant: Object
    },
    methods:{
        deleteMe(){
            this.$emit('delete', this.participant.id);
        }
    }
}
</script>

<style scoped>
    .card{
        width: 1000px;

        border: 3px solid rgb(243, 168, 59);
        border-left-width: 10px;
        border-radius: 5px;

        margin-bottom: 15px;
        padding-left: 15px;
    }

    h1{
        color: rgb(243, 168, 59);
    }

    button{
        color: #fff;
        background-color: rgb(243, 168, 59);

        border:none;

        font-size: 16px;

        margin-bottom: 10px;
        padding: 5px 10px;

        cursor:pointer;
    }
</style>
