<template>
  <div id="app">
    <NavBar />    
    <router-view/>
  </div>
</template>

<script>
  import NavBar from '@/components/NavBar.vue'
    
  export default {
    components: {
      NavBar
    }
  }
</script>

<style>
body{
  margin: 0px;
  background: rgb(231,231,231);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
